html,
body,
* {
  font-size: var(--textsize);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--textcolor);
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.heading{
  background-color: var(--divcolor);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.heading h1{
  font-size: var(--textsize)*2;
  letter-spacing: 2px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
}

.heading h2{
  font-size: var(--textsize)*1.2;
  font-family: "VT323", monospace;
}

button{
  font-family: "VT323", monospace;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--textcolor);
  background-color: var(--divcolor);
  color: var(--textcolor);
}

button:hover{
  transform: scale(1.15);
  cursor: pointer; 
}

.menu{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
  padding-top: 20px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;

}

.colorthemes{
  margin-right: auto;
}

.textsizes{
  margin-left: auto;
  margin-right: auto;
}

.pets{
  margin-left: auto;
  margin-right: auto;
}

.menu h2{
  line-height: 10px;
  letter-spacing: 2px;
}

.petwindow{
  background-color: var(--divcolor);
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

img{
  width: 300px;
  height: 300px;
}

.stats{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "VT323", monospace;
  padding: 20px;
  margin: 20px;
  line-height: 50px;
}

.actions{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  text-align: center;

}

:root {
/*colors*/
  --lightgray: #b5b5b5;
  --midgray: #767676;
  --darkgray: #363636;
  --light: #f5f5f5;
  --dark: #000000;
  --lightred: #ffcdcd;
  --red: #ff8f8f;
  --darkred: #561818;
  --yellow: #fff19e;
  --lightblue: #9db6c2;
  --darkblue:  #00334e;
  --midblue: #4a82ba;

  /*sizes*/
  --small: 10px;
  --default: 30px;
  --large: 50px;

  /* Intentions */
  --textcolor: var(--darkblue);
  --divcolor: var(--red);
  --textsize: var(--default);
}

.default {
  --textcolor: var(--darkblue);
  --divcolor: var(--red);
}

.light {
  background-color: var(--light);
  --textcolor: var(--darkgray);
  --divcolor: var(--lightgray);
}

.dark {
  background-color: var(--dark);
  --textcolor: var(--light);
  --divcolor: var(--darkgray);
}

.warm {
  background-color: var(--lightred);
  --textcolor: var(--darkred);
  --divcolor: var(--red);
}

.cold{
  background-color:var(--lightblue);
  --textcolor: var(--darkblue);
  --divcolor: var(--midblue);
}

.smalltext{
  --textsize: var(--smallsize);
}

.largetext{
  --textsize: var(--large);
}

.defaulttext{
  --textsize: var(--default);
}

@media screen and (max-width: 600px) {
}