html,
body,
* {
  font-size: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--textcolor);
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.heading{
  background-color: var(--divcolor);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  
}

.heading h1{
  font-size: 100px;
  letter-spacing: 2px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
}

.heading h2{
  font-size: 30px;
  font-family: "VT323", monospace;
}

button{
  font-family: "VT323", monospace;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--textcolor);
  background-color: var(--divcolor);
  color: var(--textcolor);
}

.select{
  font-family: "VT323", monospace;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--textcolor);
  background-color: var(--divcolor);
}

.menu{
  background-color: var(--divcolor);
  border-radius: 20px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
  padding-top: 20px;
}

.menu h2{
  line-height: 50px;
  letter-spacing: 2px;
}

.petwindow{
  background-color: var(--divcolor);
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 300px;
  height: 300px;
}

.stats{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "VT323", monospace;
  padding: 20px;
  margin: 20px;
  line-height: 50px;
}

.actions{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

:root {
  --light-gray: #b5b5b5;
  --mid-gray: #767676;
  --dark-gray: #363636;
  --light: #f5f5f5;
  --dark: #000000;
  --lightred: #ffcdcd;
  --red: #f25d5d;
  --darkred: #561818;


  /* Intentions */
  --primary: var(--light);
  --secondary: var(--dark);
}

.lightmode {
  background-color: var(--light);
  --textcolor: var(--dark);
  --divcolor: var(--light-gray);
}

.darkmode {
  background-color: var(--dark);
  --textcolor: var(--light);
  --divcolor: var(--dark-gray);
}

.warm {
  background-color: var(--lightred);
  --textcolor: var(--darkred);
  --divcolor: var(--red);
}

.cold{
  background-color: #d0f0ff;
  --textcolor: #00334e;
  --divcolor: #66b2ff;
}


@media screen and (max-width: 600px) {
}