html,
body,
* {
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--textcolor);
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading{
  background-color: var(--divcolor);
  border-color: var(--textcolor);
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}

.heading h1{
  font-size: 60px;
  letter-spacing: 2px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
}

.heading h2{
  font-size: 20px;
  font-family: "VT323", monospace;
}

button{
  font-family: "VT323", monospace;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--textcolor);
  background-color: var(--divcolor);
  color: var(--textcolor);
  width: 10vw;
}

button:hover{
  transform: scale(1.15);
  cursor: pointer; 
}

.menu{
  display: flex;
  flex-direction: row;   
  justify-content: center; 
  align-items: flex-start;
  gap: 30px;            
  width: 100%;
  margin-top: 20px;
  background-color: var(--divcolor);
}

.colorthemes,
.pets {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30x;
  gap: 8px;
  font-family: "VT323", monospace;
}


.pet-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin-top: 40px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--divcolor);
  padding: 30px;
  height: 50vh;
  font-family: "VT323", monospace;
  text-align: center;
  border: 3px solid var(--textcolor);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--divcolor);
  padding: 30px;
  height: 50vh;
  font-family: "VT323", monospace;
  text-align: center;
  margin-right: 30px;
  border: 3px solid var(--textcolor);
}

.petwindow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--divcolor);
  width: 50vw;
  height: 50vh;
  border: 3px solid var(--textcolor);
}

.petwindow img {
  width: 300px;
  height: 300px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  text-align: center;
  flex-flow: row; 
}

.gameload {
  margin-top: auto; 
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

:root {
/*colors*/
  --lightgray: #dadada;
  --midgray: #767676;
  --darkgray: #363636;
  --light: #f5f5f5;
  --dark: #000000;
  --lightred: #ffcdcd;
  --red: #ff8f8f;
  --darkred: #7a2a2a;
  --yellow: #ffdc8c85;
  --lightblue: #98c0e8;
  --darkblue:  #163a5e;
  --midblue: #4a82ba;

  /* Intentions */
  --textcolor: var(--midblue);
  --divcolor: var(--lightred);
}

.default {
  --textcolor: var(--midblue);
  --divcolor: var(--lightred);
}

.light {
  background-color: var(--light);
  --textcolor: var(--darkgray);
  --divcolor: var(--lightgray);
}

.dark {
  background-color: var(--dark);
  --textcolor: var(--light);
  --divcolor: var(--darkgray);
}

.warm {
  background-color: var(--lightred);
  --textcolor: var(--darkred);
  --divcolor: var(--red);
}

.cold{
  background-color:var(--lightblue);
  --textcolor: var(--darkblue);
  --divcolor: var(--midblue);
}

@media screen and (max-width: 600px) {
}