html,
body,
* {
  font-size: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.heading{
  margin-top: 20px;
  background-color: var(--mid-gray);
  border-radius: 20px;
}

.heading h1{
  font-size: 60px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
}

.heading h2{
  font-size: 30px;
  font-family: "VT323", monospace;
  margin: 10px;
}

button{
  font-family: "VT323", monospace;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
}

.select{
  font-family: "VT323", monospace;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
}

.menu{
  background-color: var(--mid-gray);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
}

.petwindow{
  background-color: var(--mid-gray);
  border-radius: 20px;
}

img{
  width: 300px;
  height: 300px;
}

.stats{
  background-color: var(--mid-gray);
  border-radius: 20px;
  font-family: "VT323", monospace;
}

.actions{
  background-color: var(--mid-gray);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

:root {
  --light-gray: #626262;
  --mid-gray: #414141;
  --dark-gray: #101010;
  --light: #ffffff;
  --dark: #000000;
  --yellow: #f6eda1;


  /* Intentions */
  --primary: var(--light);
  --secondary: var(--yellow);
}

.lightmode {
  background-color: var(--light);
  color: var(--dark);
}

.darkmode {
  background-color: var(--dark);
  color: var(--light);
}



@media screen and (max-width: 600px) {
}