html,
body,
* {
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--textcolor);
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.heading{
  background-color: var(--divcolor);
  border-radius: 3px;
  border-color: var(--textcolor);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.heading h1{
  font-size: 60px;
  letter-spacing: 2px;
  margin: 20px;
  font-family: "Jersey 10", sans-serif;
}

.heading h2{
  font-size: 20px;
  font-family: "VT323", monospace;
}

button{
  font-family: "VT323", monospace;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--textcolor);
  background-color: var(--divcolor);
  color: var(--textcolor);
}

button:hover{
  transform: scale(1.15);
  cursor: pointer; 
}

.colorthemes{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
  padding-top: 20px;
  flex-flow: row;
  display: flex;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;

}

.colorthemes{
  margin-right: auto;
}

.pets{
  margin-left: auto;
  margin-right: auto;
}


.petwindow{
  background-color: var(--divcolor);
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;

}

img{
  width: 300px;
  height: 300px;
}

.stats{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "VT323", monospace;
  padding: 20px;
  margin: 20px;
  line-height: 50px;
}

.actions{
  background-color: var(--divcolor);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  text-align: center;
}

:root {
/*colors*/
  --lightgray: #dadada;
  --midgray: #767676;
  --darkgray: #363636;
  --light: #f5f5f5;
  --dark: #000000;
  --lightred: #ffcdcd;
  --red: #ff8f8f;
  --darkred: #7a2a2a;
  --yellow: #ffdc8c85;
  --lightblue: #98c0e8;
  --darkblue:  #163a5e;
  --midblue: #4a82ba;

  /* Intentions */
  --textcolor: var(--midblue);
  --divcolor: var(--lightred);
}

.default {
  --textcolor: var(--midblue);
  --divcolor: var(--lightred);
}

.light {
  background-color: var(--light);
  --textcolor: var(--darkgray);
  --divcolor: var(--lightgray);
}

.dark {
  background-color: var(--dark);
  --textcolor: var(--light);
  --divcolor: var(--darkgray);
}

.warm {
  background-color: var(--lightred);
  --textcolor: var(--darkred);
  --divcolor: var(--red);
}

.cold{
  background-color:var(--lightblue);
  --textcolor: var(--darkblue);
  --divcolor: var(--midblue);
}

@media screen and (max-width: 600px) {
}